{% if recipe.status == true %}
<div class="card col-11 col-sm-5 col-lg-3 pb-4 mt-3 my-md-4 mx-1 mx-md-2">
  <div class="pt-3">
    <div class="card-recipe-img">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

      {% set break = false %}
      {% for favorite in app.user.favorites %}
        {% if recipe == favorite.recipes %}
        {% set break = true %}
        {% endif %}
      {% endfor %}

      {% if break == true %}
        <a href="{{ path('favorite' , {'slug': recipe.slug}) }}" class="card-fav-icon"><i class="fa fa-heart fa-lg card-fav-icon-full" aria-hidden="true"></i></a>
      {% else  %}
        <a href="{{ path('favorite' , {'slug': recipe.slug}) }}" class="card-fav-icon"><i class="fa fa-heart-o fa-lg card-fav-icon-empty" aria-hidden="true"></i></a>
      {% endif %}
      
    {% endif %}
    {% if recipe.image is not empty %}
      <a href="{{ path('recipe_show', {'slug': recipe.slug})}}"><img src="{{ asset('assets/images/recipes/' ~ recipe.image) }}" class="card-img-top" alt="{{recipe.name}}"></a>
    {% else %}
      <a href="{{ path('recipe_show', {'slug': recipe.slug})}}"><img src="{{ asset('assets/images/default-recipe.png') }}" class="card-img-top" alt="Logo 0'Déchet"></a>
    {% endif %}
    </div>
    <div class="card-body p-2">
      <h5 class="card-title card-recipe-title"><a href="{{ path('recipe_show', {'slug': recipe.slug})}}">{{ recipe.name }}</a></h5>
      <p class="card-rate">
      {% for i in 1..5 %}
        {% if recipe.averageRate >= i %}
        <i class="fa fa-star" aria-hidden="true"></i>
        {% else %}
        <i class="fa fa-star-o" aria-hidden="true"></i>
        {% endif %}
      {% endfor %}
      </p>
      <p class="card-nb-opinion">
        Nombre d'avis : {{ recipe.rates|length }}
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card-profil-img d-flex align-items-center">
    {% if recipe.user is not empty %}
      <a href="{{ path('user_read', {'slug': recipe.user.slug})}}">
        {% if recipe.user.image is not empty %}
          <img src="{{ asset('assets/images/users/' ~ recipe.user.image) }}" class="card-img-user" alt="{{recipe.user.image}}">
        {% else %}
          <img src="{{ asset('assets/images/default-user.png') }}" class="card-img-user" alt="">
        {% endif %}
      {% else %}
        <img src="{{ asset('assets/images/default-user.png') }}" class="card-img-user" alt="">
      {% endif %}
      </a>
    </div>
    <div class="card-profil">
      {% if recipe.user != null %}
        <p>Proposé par <a href="{{ path('user_read', {'slug': recipe.user.slug})}}"  class="user-profil">{{ recipe.user }}</a></p>
      {% else %}
        <p>Proposé par Anonyme</p>
      {% endif %}
      <a href="{{ path('recipe_show', {'slug': recipe.slug})}}" class="btn card-btn">Voir la recette</a>
    </div>
  </div>
</div>
{% endif %}