{{ form_start(form, { 'attr': {'id': 'form' }}) }} 

    <div class="contact-form-label">{{form_label (form.email) }} <span class="form-asterisk-mandatory">*</span></div>
    <div>{{form_help (form.email) }}</div>

    {% if app.user.email is defined %}
    <div>{{form_widget (form.email, { 'attr': {'value': app.user.email }})}}</div>
    {% else %}
    <div>{{form_widget (form.email)}}</div>
    {% endif %}

    <div class="contact-form-label">{{form_label (form.subject) }} <span class="form-asterisk-mandatory">*</span></div>
    <div>{{form_help (form.subject) }}</div>
    <div>{{form_widget (form.subject) }}</div>


    <div class="contact-form-label">{{form_label (form.message) }} <span class="form-asterisk-mandatory">*</span></div>
    <div>{{form_help (form.message) }}</div>
    <div>{{form_widget (form.message) }}</div>

    <div class="g-recaptcha" data-sitekey="6LfROqMZAAAAAOGfAxgcajxhcga801l6yzV-ruyj"></div>

    <div class="mt-3"><span class="form-asterisk-mandatory">*</span><span class="form-text-mandatory"> Champs obligatoires</span></div>
    <div class="submit-button-container">
        <button type="submit" class="btn form-btn">{{ button_label|default('Envoyer') }}</button>
    </div>
{{ form_end(form) }}

