{% extends 'base.html.twig' %}

{% block body %}

    <main class="container">

    {% for message in app.flashes('success') %}
    <div class="flash-notice-success my-3">
        <div class="alert alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p class="mb-0">{{message}}</p>
        </div>
    </div>
    {% endfor %}

      <div class="row justify-content-center">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="col-12 col-md-8 px-4 py-3 mt-md-2 banner-top">
          <p>Envie de partager une de vos recettes avec nous ? </p>
          <a href="{{ path('recipe_add') }}"><button class="btn banner-top-btn" type="button">Ajouter une recette</button></a>
        </div>
        {% else %}
        <div class="col-12 col-md-8 px-4 py-3 mt-md-2 banner-top">
          <p>Envie de partager une de vos recettes avec nous ? </p>
          <p>Inscrivez-vous et rejoignez-nous dans l'aventure zéro déchet !</p>
          <a href="{{ path('user_add') }}"><button class="btn banner-top-btn" type="button">Devenir membre</button></a>
        </div>
        {% endif %}
      </div>

      <div class="row pt-3 px-3 main-title">
        <h2>Les recettes les mieux notées</h2>
      </div>

      <!--MOBILE-->
      <!--Carousel Wrapper-->
      <div id="carousel-best-recipes-mobile" class="carousel slide carousel-multi-item d-block d-md-none" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <div class="row justify-content-center best-recipe">
            {% for recipe in bestRecipes|slice(0,1) %}
              {{ include('partials/card.html.twig') }}
            {% endfor %}
            </div>
          </div>
          <!--/.First slide-->
          <!--Other slides-->
          {% for recipe in bestRecipes|slice(1) %}
          <div class="carousel-item">
            <div class="row justify-content-center best-recipe">
              {{ include('partials/card.html.twig') }}
            </div>
          </div>
          {% endfor %}
          <!--/.Other slides-->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <div class="controls-top row justify-content-center">
          <a class="btn-floating" href="#carousel-best-recipes-mobile" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating" href="#carousel-best-recipes-mobile" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
      <!--/.Carousel Wrapper-->
      </div>
      <!--/.MOBILE-->

      <!--MEDIUM SCREEN-->
      <!--Carousel Wrapper-->
      <div id="carousel-best-recipes-medium" class="carousel slide carousel-multi-item d-none d-md-block d-lg-none" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <div class="row justify-content-center best-recipe">
            {% for recipe in bestRecipes|slice(0,2) %}
              {{ include('partials/card.html.twig') }}
            {% endfor %}
            </div>
          </div>
          <!--/.First slide-->
          <!--Second slide-->
          <div class="carousel-item">
            <div class="row justify-content-center best-recipe">
            {% for recipe in bestRecipes|slice(2,2) %}
              {{ include('partials/card.html.twig') }}
            {% endfor %}
            </div>
          </div>
          <!--/.Second slide-->
          <!--Second slide-->
          <div class="carousel-item">
            <div class="row justify-content-center best-recipe">
            {% for recipe in bestRecipes|slice(4,2) %}
              {{ include('partials/card.html.twig') }}
            {% endfor %}
            </div>
          </div>
          <!--/.Second slide-->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <div class="controls-top row justify-content-center">
          <a class="btn-floating" href="#carousel-best-recipes-medium" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating" href="#carousel-best-recipes-medium" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
      <!--/.Carousel Wrapper-->
      </div>
      <!--/.MEDIUM SCREEN-->

      <!--LARGE SCREEN-->
      <!--Carousel Wrapper-->
      <div id="carousel-best-recipes-large" class="carousel slide carousel-multi-item d-none d-lg-block" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <div class="row justify-content-center best-recipe">
            {% for recipe in bestRecipes|slice(0,3) %}
              {{ include('partials/card.html.twig') }}
            {% endfor %}
            </div>
          </div>
          <!--/.First slide-->
          <!--Second slide-->
          <div class="carousel-item">
            <div class="row justify-content-center best-recipe">
            {% for recipe in bestRecipes|slice(3,3) %}
              {{ include('partials/card.html.twig') }}
            {% endfor %}
            </div>
          </div>
          <!--/.Second slide-->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <div class="controls-top row justify-content-center">
          <a class="btn-floating" href="#carousel-best-recipes-large" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating" href="#carousel-best-recipes-large" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
      <!--/.Carousel Wrapper-->
      </div>
      <!--/.LARGE SCREEN-->

      <div class="row pt-3 px-3 main-title">
        <h2>Les dernières recettes</h2>
      </div>
      <!--MOBILE-->
      <!--Carousel Wrapper-->
      <div id="carousel-latest-recipes-mobile" class="carousel slide carousel-multi-item d-block d-md-none" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <div class="row justify-content-center latest-recipe">
            {% for recipe in latestRecipes|slice(0,1) %}
              {{ include('partials/card.html.twig') }}
            {% endfor %}
            </div>
          </div>
          <!--/.First slide-->
          <!--Other slides-->
          {% for recipe in latestRecipes|slice(1) %}
          <div class="carousel-item">
            <div class="row justify-content-center latest-recipe">
              {{ include('partials/card.html.twig') }}
            </div>
          </div>
          {% endfor %}
          <!--/.Other slides-->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <div class="controls-top row justify-content-center">
          <a class="btn-floating" href="#carousel-latest-recipes-mobile" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating" href="#carousel-latest-recipes-mobile" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
      <!--/.Carousel Wrapper-->
      </div>
      <!--/.MOBILE-->

      <!--MEDIUM SCREEN-->
      <!--Carousel Wrapper-->
      <div id="carousel-latest-recipes-medium" class="carousel slide carousel-multi-item d-none d-md-block d-lg-none" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <div class="row justify-content-center latest-recipe">
            {% for recipe in latestRecipes|slice(0,2) %}
              {{ include('partials/card.html.twig') }}
            {% endfor %}
            </div>
          </div>
          <!--/.First slide-->
          <!--Second slide-->
          <div class="carousel-item">
            <div class="row justify-content-center latest-recipe">
            {% for recipe in latestRecipes|slice(2,2) %}
              {{ include('partials/card.html.twig') }}
            {% endfor %}
            </div>
          </div>
          <!--/.Second slide-->
          <!--Second slide-->
          <div class="carousel-item">
            <div class="row justify-content-center latest-recipe">
            {% for recipe in latestRecipes|slice(4,2) %}
              {{ include('partials/card.html.twig') }}
            {% endfor %}
            </div>
          </div>
          <!--/.Second slide-->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <div class="controls-top row justify-content-center">
          <a class="btn-floating" href="#carousel-latest-recipes-medium" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating" href="#carousel-latest-recipes-medium" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
      <!--/.Carousel Wrapper-->
      </div>
      <!--/.MEDIUM SCREEN-->

      <!--LARGE SCREEN-->
      <!--Carousel Wrapper-->
      <div id="carousel-latest-recipes-large" class="carousel slide carousel-multi-item d-none d-lg-block" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <div class="row justify-content-center latest-recipe">
            {% for recipe in latestRecipes|slice(0,3) %}
              {{ include('partials/card.html.twig') }}
            {% endfor %}
            </div>
          </div>
          <!--/.First slide-->
          <!--Second slide-->
          <div class="carousel-item">
            <div class="row justify-content-center latest-recipe">
            {% for recipe in latestRecipes|slice(3,3) %}
              {{ include('partials/card.html.twig') }}
            {% endfor %}
            </div>
          </div>
          <!--/.Second slide-->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <div class="controls-top row justify-content-center">
          <a class="btn-floating" href="#carousel-latest-recipes-large" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating" href="#carousel-latest-recipes-large" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
      <!--/.Carousel Wrapper-->
      </div>
      <!--/.LARGE SCREEN-->
    </main>

{% endblock %}
