{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
  <div class="row pt-3 px-3 main-title">
      <h2>L'équipe 0'Déchet</h2>
  </div>
  <div class="row justify-content-center">
      <div class="card card-team col-11 col-sm-5 col-lg-3 pb-4 mt-3 my-md-4 mx-1 mx-md-2">
      <div class="pt-3">
          <div class="card-team-img">
              <img src="{{ asset('assets/images/paul.png') }}" class="card-team-img-top" alt="Photo Paul Brousses">
          </div>
          <div class="card-body p-2">
              <h5 class="card-title card-team-title">Paul Brousses</h5>
              <p class="card-team-role">Lead Dev Back<br>Développeur Fullstack</p>
          </div>
      </div>
      </div>
      <div class="card card-team col-11 col-sm-5 col-lg-3 pb-4 mt-3 my-md-4 mx-1 mx-md-2">
      <div class="pt-3">
          <div class="card-team-img">
              <img src="{{ asset('assets/images/manon.png') }}" class="card-team-img-top" alt="Photo Manon Furrer">
          </div>
          <div class="card-body p-2">
              <h5 class="card-title card-team-title">Manon Furrer</h5>
              <p class="card-team-role">Product Owner<br>Développeuse Fullstack</p>
          </div>
      </div>
      </div>
      <div class="card card-team col-11 col-sm-5 col-lg-3 pb-4 mt-3 my-md-4 mx-1 mx-md-2">
      <div class="pt-3">
          <div class="card-team-img">
              <img src="{{ asset('assets/images/laetitia.png') }}" class="card-team-img-top" alt="Photo Laetitia Georgelin">
          </div>
          <div class="card-body p-2">
              <h5 class="card-title card-team-title">Laëtitia Georgelin</h5>
              <p class="card-team-role">Lead Dev Front<br>Développeuse Fullstack</p>
          </div>
      </div>
      </div>
      <div class="card card-team col-11 col-sm-5 col-lg-3 pb-4 mt-3 my-md-4 mx-1 mx-md-2">
      <div class="pt-3">
          <div class="card-team-img">
              <img src="{{ asset('assets/images/lucas.png') }}" class="card-team-img-top" alt="Photo Lucas Lefebvre">
          </div>
          <div class="card-body p-2">
              <h5 class="card-title card-team-title">Lucas Lefebvre</h5>
              <p class="card-team-role">Git Master<br>Développeur Fullstack</p>
          </div>
      </div>
      </div>
      <div class="card card-team col-11 col-sm-5 col-lg-3 pb-4 mt-3 my-md-4 mx-1 mx-md-2">
      <div class="pt-3">
          <div class="card-team-img">
              <img src="{{ asset('assets/images/steven.png') }}" class="card-team-img-top" alt="Photo Steven Renaux">
          </div>
          <div class="card-body p-2">
              <h5 class="card-title card-team-title">Steven Renaux</h5>
              <p class="card-team-role">Scrum Master<br>Développeur Fullstack</p>
          </div>
      </div>
      </div>
  </div>
</main>

{% endblock %}