<nav id="menu">
  <label for="tm" id="toggle-menu">Navigation <span class="drop-icon">▾</span></label>
  <input type="checkbox" id="tm">
  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
  <ul class="main-menu clearfix">
    <li><a href="#">Sample</a></li>

    {% for category in allCategory %}
        {% if category.slug == app.request.attributes.get('slug') %}
    <li><a class="active" href="{{ path('recipe_browseByCategory', {'slug': category.slug}) }}">{{category.name}}
        <span class="drop-icon">▾</span>
        <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
      </a>
        {% elseif appSubCategory is not null and appSubCategory.category == category %}
    <li><a class="active" href="{{ path('recipe_browseByCategory', {'slug': category.slug}) }}">{{category.name}}
        <span class="drop-icon">▾</span>
        <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
      </a>
      {% elseif appType is not null and appType.subCategory.category == category %}
    <li><a class="active" href="{{ path('recipe_browseByCategory', {'slug': category.slug}) }}">{{category.name}}
        <span class="drop-icon">▾</span>
        <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
      </a>
      {% else %}
      <a href="{{ path('recipe_browseByCategory', {'slug': category.slug}) }}" role="button" aria-haspopup="true" aria-expanded="false">{{category.name}}</a>
        {% endif %}

      <input type="checkbox" id="sm1">
      <ul class="sub-menu">
      {% for subCategory in category.subCategories %}
        <li><a href="{{ path('recipe_browseBySubCategory', {'slug': subCategory.slug}) }}">{{subCategory.name}}</a></li>
            <span class="drop-icon">▾</span>
            <label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label>
          </a>
          <input type="checkbox" id="sm2">
          <ul class="sub-menu">
          {% for type in subCategory.types %}
            <li><a href="{{ path('recipe_browseByType', {'slug': type.slug}) }}">{{type.name}}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>

    </li>
    {% endfor %}


    <li><a class="nav-link" href="#">Contact</a></li>
  </ul>
              <form class="form-inline my-2 my-lg-0 align-self-center d-lg-flex flex-nowrap" method="get">
              <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search" aria-label="Rechercher">
              <button class="btn my-sm-0 btn-search" type="submit" formaction="{{ path('recipe_search') }}"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            </div>
</nav>