{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
  <div class="row px-3 pt-3 main-title">
    <h2>Modifier une recette</h2>
  </div>

{{ include('recipe/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="row justify-content-center">
    {{ form_start(deleteForm) }}
      {{ form_widget(deleteForm.deleteButton, {'attr': {'class': 'form-btn-delete'}, 'label': "Supprimer ma recette"}) }}
    {{ form_end(deleteForm) }}
    </div>

    <div class="row mt-4">
      <a class="form-link-back" href="{{ path('main_home') }}">Revenir à l'accueil</a>
    </div>
</main>
{% endblock %}