{% extends 'base.html.twig' %}

{% block title %}Nouvelle recette{% endblock %}

{% block body %}

{{ form_start(form) }}
    {{ form_widget(form) }}

    <br>
    <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}


<br>
    <a href="{{ path('recipe_new') }}"> Retour </a>
{% endblock %}