{% extends 'base.html.twig' %}

{% block body %}
<main class="container-fluid">
  <div class="row justify-content-center main-content">

    {{ include('partials/left-nav.html.twig') }}

    <div class="col-12 col-lg-8 mx-auto mb-5">
      <div class="row px-3 mt-2 fil-ariane">
        <p>
          <a href="{{ path('main_home')}}">0'Déchet</a> -
          <a href="{{ path('recipe_browse')}}">Toutes les recettes</a> -
          <a href="{{ path('recipe_browseByCategory', {'slug': type.subCategory.category.slug})}}">{{type.subCategory.category.name}}</a> -
          <a href="{{ path('recipe_browseBySubCategory', {'slug': type.subCategory.slug})}}">{{type.subCategory.name}}</a> -
          <a href="{{ path('recipe_browseByType', {'slug': type.slug})}}">{{type.name}}</a>
        </p> 
      </div>
      <div class="row justify-content-between px-3 ml-md-2 mr-md-1 main-title">
        <h2>{{type.name}}</h2>
        <form class="main-sort" method="get">
          <select class="main-sort-select" name="sortBy" onChange="this.form.submit();">
            <option value="">Trier par</option>
            <option value="rate" {{ app.request.query.get('sortBy') == "rate" ? "selected" }}>Meilleures notes</option>
            <option value="date" {{ app.request.query.get('sortBy') == "date" ? "selected" }}>Plus récentes</option>
            <option value="difficultyDesc" {{ app.request.query.get('sortBy') == "difficultyDesc" ? "selected" }}>Plus difficiles</option>
            <option value="difficultyAsc" {{ app.request.query.get('sortBy') == "difficultyAsc" ? "selected" }}>Plus simples</option>
          </select>
        </form>
      </div>
      <div class="row justify-content-center">
        {% for recipe in recipes %}
          {{ include('partials/card.html.twig') }}
        {% endfor %}
      </div>
      {# pagination #}
      <div class="row justify-content-center mt-5">
        <div id="navigation">
        {{ knp_pagination_render(recipes) }}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}