{{ form_start(userForm) }}
    <div class="user-form-label">{{form_label (userForm.username) }} <span class="form-asterisk-mandatory">*</span></div>
    <div>{{form_help (userForm.username) }}</div>
    <div>{{form_widget (userForm.username) }}</div>

    <div class="user-form-label">{{form_label (userForm.email) }} <span class="form-asterisk-mandatory">*</span></div>
    <div>{{form_widget (userForm.email) }}</div>

    <div class="user-form-label">{{form_label (userForm.password.first) }} {{ app.request.attributes.get('_route') == 'user_add' ? '<span class="form-asterisk-mandatory">*</span>' }}</div>
    <div>{{form_help (userForm.password) }}</div>
    <div>{{form_widget (userForm.password.first) }}</div>

    <div class="user-form-label">{{form_label (userForm.password.second) }} {{ app.request.attributes.get('_route') == 'user_add' ? '<span class="form-asterisk-mandatory">*</span>' }}</div>
    <div>{{form_widget (userForm.password.second) }}</div>


    <div class="user-form-label">{{form_label (userForm.image) }}</span></div>
    <div>{{form_widget (userForm.image) }}</div>

    <div class="mt-3"><span class="form-asterisk-mandatory">*</span><span class="form-text-mandatory"> Champs obligatoires</span></div>
 
 {% if userForm.cgu is defined %}
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">Conditions générales d'utilisation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×
            </button>
          </div>
          <div class="modal-body">

            {{ include('partials/cgu.html.twig') }}

            <div class="modal-footer">
              <button type="button" class="btn cgu-btn" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <div class="user-form-label">{{form_label (userForm.cgu) }} </div>
    <div>{{form_widget (userForm.cgu, {'attr': {'data-toggle': 'modal', 'data-target':'#exampleModalScrollable'}}) }}</div>

  {% endif %}

  <div class="submit-button-container">
      <button type="submit" class="btn form-btn">{{ button_label|default('Ajouter') }}</button>
  </div>
{{ form_end(userForm)  }}