{{ form_start(userForm) }}
    <div class="user-form-label">{{form_label (userForm.username) }} <span class="form-asterisk-mandatory">*</span></div>
    <div>{{form_help (userForm.username) }}</div>
    <div>{{form_widget (userForm.username) }}</div>

    <div class="user-form-label">{{form_label (userForm.email) }} <span class="form-asterisk-mandatory">*</span></div>
    <div>{{form_widget (userForm.email) }}</div>

    <div class="user-form-label">{{form_label (userForm.password.first) }} {{ app.request.attributes.get('_route') == 'user_add' ? '<span class="form-asterisk-mandatory">*</span>' }}</div>
    <div>{{form_help (userForm.password) }}</div>
    <div>{{form_widget (userForm.password.first) }}</div>

    <div class="user-form-label">{{form_label (userForm.password.second) }} {{ app.request.attributes.get('_route') == 'user_add' ? '<span class="form-asterisk-mandatory">*</span>' }}</div>
    <div>{{form_widget (userForm.password.second) }}</div>


    <div class="user-form-label">{{form_label (userForm.image) }}</span></div>
    <div>{{form_widget (userForm.image) }}</div>

    <div class="mt-3"><span class="form-asterisk-mandatory">*</span><span class="form-text-mandatory"> Champs obligatoires</span></div>

    {% if userForm.cgu is defined %}
    <div class="user-form-label">{{form_label(userForm.cgu) }}</div>
    <div class="user-form-input">{{form_widget (userForm.cgu) }}</div>
    {% endif %}

    <div class="submit-button-container">
        <button type="submit" class="btn form-btn">{{ button_label|default('Ajouter') }}</button>
    </div>
{{ form_end(userForm)  }}