{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
{{ form_start(userForm) }}

    <div>{{form_label (userForm.username) }}</div>
    <div class="user-form-help">{{form_widget (userForm.username) }}</div>

    <div>{{form_label (userForm.email) }}</div>
    <div class="user-form-help">{{form_widget (userForm.email) }}</div>

    <div>{{form_widget (userForm.password) }}</div>
    <div class="user-form-help">{{form_help (userForm.password) }}</div>

    <div>{{form_widget (userForm.image) }}</div>
    <div class="user-form-help">{{form_help (userForm.image) }}</div>

    {% if userForm.cgu is defined %}
    <div>{{form_label(userForm.cgu) }}</div>
    <div class="user-form-input">{{form_widget (userForm.cgu) }}</div>
    {% endif %}

    <button type="submit" class="btn btn-warning">{{ button_label|default('Ajouter') }}</button>

{{ form_end(userForm)  }}
{% endblock %}
