{% extends 'base.html.twig' %}

{% block body %}

<main class="container">

  {% for message in app.flashes('success') %}
    <div class="flash-notice-success my-3">
      <div class="alert alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="mb-0">{{message}}</p>
      </div>
    </div>
  {% endfor %}

  {% if is_granted('ROLE_ADMIN') %}
    <div class="row justify-content-between pt-3 px-3 ml-md-2 mr-md-1 main-title">
      <h2>Admin</h2>
    </div>
    <div class="row justify-content-center pt-3">
      <a href="{{ path('easyadmin') }}"><button class="btn banner-top-btn my-4" type="button">Accéder au BackOffice</button></a>
    </div>
  {% endif %}
  {% if app.user == user %}
    <div class="row justify-content-between pt-3 px-3 mb-3 ml-md-2 mr-md-1 main-title">
      <h2>Mon profil</h2>
    </div>
    <div class="row justify-content-center align-items-center mb-3">
      <div class="col-12 col-sm-6 mb-3 mb-sm-0 text-center text-sm-right">
        {% if user.image is not empty %}
          <img src="{{ asset('assets/images/users/' ~ user.image) }}" class="img-fluid user-profil-img ml-auto" alt="Photo de profil de {{user.username}}">
        {% else %}
          <img src="{{ asset('assets/images/default-user.png') }}" class="img-fluid user-profil-img ml-auto" alt="">
        {% endif %}
      </div>
      <div class="col-12 col-sm-6 text-center text-sm-left">
        <p>Pseudo : {{user.username}}<br>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        Email : {{user.email}}</p>
        <a href="{{ path('user_edit', {'slug': user.slug })}}"><button class="btn banner-top-btn" type="button">Modifier le profil</button></a>
      </div>
    </div>
  {% endif %}
  <div class="row justify-content-between pt-3 px-3 ml-md-2 mr-md-1 main-title">
    <h2>Mes recettes</h2>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('recipe_add')}}" class="btn card-btn mb-1">Ajouter une recette</a>
    {% endif %}
  </div>
  <div class="row justify-content-center mb-4">
    {% if user.recipes is not empty %}
      {% for recipe in user.recipes %}
        <div class="card col-11 col-sm-5 col-lg-3 pb-4 mt-3 my-md-4 mx-1 mx-md-2">
          <div class="pt-3">
            <div class="card-recipe-img">
              {% if recipe.image is not empty %}
                <a href="{{ path('recipe_show', {'slug': recipe.slug})}}"><img src="{{ asset('assets/images/recipes/' ~ recipe.image) }}" class="card-img-top" alt="{{recipe.name}}"></a>
              {% else %}
                <a href="{{ path('recipe_show', {'slug': recipe.slug})}}"><img src="{{ asset('assets/images/default-recipe.png') }}" class="card-img-top" alt="Logo 0'Déchet"></a>
              {% endif %}
            </div>
            <div class="card-body p-2">
              <h5 class="card-title card-recipe-title"><a href="{{ path('recipe_show', {'slug': recipe.slug})}}">{{ recipe.name }}</a></h5>
              <p class="card-rate">
              {% for i in 1..5 %}
                {% if recipe.averageRate >= i %}
                  <i class="fa fa-star" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                {% endif %}
              {% endfor %}
              </p>
            </div>
          </div>
          <div class="row justify-content-center mb-2">
            <a href="{{ path('recipe_show', {'slug': recipe.slug })}}" class="btn card-btn">Voir la recette</a>
          </div>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="row justify-content-center">
              <a href="{{ path('recipe_edit', {'slug': recipe.slug })}}" class="btn card-btn">Modifier la recette</a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
        <p class="pt-5">Vous n'avez pas encore ajouté de recette.</p>
    {% endif %}
  </div>

  <div class="row justify-content-between pt-3 px-3 ml-md-2 mr-md-1 main-title">
    <h2>Mes favoris</h2>
  </div>
  <div class="row justify-content-center mb-4">
    {% if user.favorites is not empty %}
      {% for favorite in user.favorites %}
        {% set recipe = favorite.recipes %}
        {{ include('partials/card.html.twig') }}
      {% endfor %}
    {% else %}
        <p class="pt-5">Vous n'avez pas encore ajouté de favori.</p>
    {% endif %}
  </div>
    {% endif %}
  {% if app.user != user %}
    <div class="row justify-content-between pt-3 px-3 mb-3 ml-md-2 mr-md-1 main-title">
      <h2>Profil de {{user.username}}</h2>
    </div>
    <div class="row justify-content-center align-items-center mb-3">
      <div class="col-12 col-sm-6 mb-3 mb-sm-0 text-center text-sm-right">
        {% if user.image is not empty %}
          <img src="{{ asset('assets/images/users/' ~ user.image) }}" class="img-fluid user-profil-img ml-auto" alt="Photo de profil de {{user.username}}">
        {% else %}
          <img src="{{ asset('assets/images/default-user.png') }}" class="img-fluid user-profil-img ml-auto" alt="">
        {% endif %}
      </div>
      <div class="col-12 col-sm-6 text-center text-sm-left">
        <p>Pseudo : {{user.username}}<br>
      </div>
    </div>
    <div class="row justify-content-between pt-3 px-3 ml-md-2 mr-md-1 main-title">
      <h2>Recettes de {{ user.username }}</h2>
    </div>
    <div class="row justify-content-center mb-4">
      {% for recipe in user.recipes %}
        <div class="card col-11 col-sm-5 col-lg-3 pb-4 mt-3 my-md-4 mx-1 mx-md-2">
          <div class="pt-3">
            <div class="card-recipe-img">
              {% if recipe.image is not empty %}
                <a href="{{ path('recipe_show', {'slug': recipe.slug})}}"><img src="{{ asset('assets/images/recipes/' ~ recipe.image) }}" class="card-img-top" alt="{{recipe.name}}"></a>
              {% else %}
                <a href="{{ path('recipe_show', {'slug': recipe.slug})}}"><img src="{{ asset('assets/images/default-recipe.png') }}" class="card-img-top" alt="Logo 0'Déchet"></a>
              {% endif %}
            </div>
            <div class="card-body p-2">
              <h5 class="card-title card-recipe-title"><a href="{{ path('recipe_show', {'slug': recipe.slug})}}">{{ recipe.name }}</a></h5>
              <p class="card-rate">
                {% for i in 1..5 %}
                    {% if recipe.averageRate >= i %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    {% endif %}
                {% endfor %} 
              </p>
            </div>
          </div>
          <div class="row justify-content-center mb-2">
            <a href="{{ path('recipe_show', {'slug': recipe.slug })}}" class="btn card-btn">Voir la recette</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</main>

{% endblock %}
